force-app/main/default/flows/Case_Closure_Subscriber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Case Closed: {!$Record.Case_Number__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hi There, The case {!$Record.Case_Number__c} has been closed. The customer was happy with their query: {!$Record.Case_Subject__c}. Thanks, Salesforce</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Populate Recipient Addresses</description>
        <name>Populate_Recipient_Addresses</name>
        <label>Populate Recipient Addresses</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>RecipientAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <description>Flow that subscribed to Case Closure Platform Event</description>
    <environments>Default</environments>
    <interviewLabel>Case Closure Subscriber {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Closure Subscriber</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_Recipient_Addresses</targetReference>
        </connector>
        <object>Case_Closure__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>collector to store recipient email addresses</description>
        <name>RecipientAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
