force-app/main/default/flows/Opportunity_Scheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create a task for the opportunity owner</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Get_Opportunity_Custom_Notification_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Close the Opportunity as soon as possible!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Opportunity_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity&apos;s Close Date is approaching</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The Opportunity {!$Record.Name} amounting {!$Record.Amount} from {!$Record.Account.Name} close date {!$Record.CloseDate} is approaching. Speed up the negotiations and close the deal.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Populate Recipient Ids</description>
        <name>Populate_Recipient_Ids</name>
        <label>Populate Recipient Ids</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the opportunity needs to be closed in the next days</description>
        <name>CloseDate_TodayPlus3Days</name>
        <label>CloseDate &lt;= TodayPlus3Days ?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus3Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Notification about closing opps</description>
    <environments>Default</environments>
    <formulas>
        <name>TodayPlus3Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <interviewLabel>Notification about closing opps scheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Scheduler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Custom Notification Type - Big_Opportunity_Win</description>
        <name>Get_Opportunity_Custom_Notification_Type</name>
        <label>Get Opportunity Custom Notification Type</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Recipient_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Big_Opportunity_Win</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CloseDate_TodayPlus3Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negotiation/Review</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-08</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Recipient Ids - Opportunity Owner Ids</description>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
