force-app/main/default/flows/Post_Employee_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostEmployeeAction</name>
        <label>PostEmployeeAction</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <actionName>PostEmployeeExternalService1.PostEmployeeCallout</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Callout_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RequestBody</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Populate_RequestBody</name>
        <label>Populate RequestBody</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>RequestBody.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.maidenName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Maiden_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.age</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Age__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PostEmployeeAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Callout_Status</name>
        <label>Callout Status?</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Populate_Integration_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Succeeded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PostEmployeeAction.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PostEmployeeAction.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Employee_ID</targetReference>
            </connector>
            <label>Succeeded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Post Employee Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Employee Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_Employee_ID</name>
        <label>Populate Employee ID</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Employee_ID__c</field>
            <value>
                <elementReference>PostEmployeeAction.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Integration_Status</name>
        <label>Populate Integration Status</label>
        <locationX>506</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <elementReference>PostEmployeeAction.defaultExc</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Employee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_After_1_Min</name>
            <connector>
                <targetReference>Populate_RequestBody</targetReference>
            </connector>
            <label>Run After 1 Min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RequestBody</name>
        <apexClass>ExternalService__PostEmployeeExternalService1_PostEmployeeCallout_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
