force-app/main/default/flows/Post_Ecom_Product_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostEcomProductAction</name>
        <label>PostEcomProductAction</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <actionName>PostEcomProductExternalService.PostEcomProductCallout</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Callout_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RequestBody</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Populate_RequestBody</name>
        <label>Populate RequestBody</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>RequestBody.brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Brand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.discountPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Discount_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Rating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.stock</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stock__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.thumbnail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Thumbnail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PostEcomProductAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Callout_Status</name>
        <label>Callout Status?</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Populate_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PostEcomProductAction.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Product_ID</targetReference>
            </connector>
            <label>Succeeded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Post Ecom Product Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Ecom Product Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_Error</name>
        <label>Populate Error</label>
        <locationX>506</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>PostEcomProductAction.defaultExc</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Product_ID</name>
        <label>Populate Product ID</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Product_Id__c</field>
            <value>
                <elementReference>PostEcomProductAction.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Ecommerce_Product__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_After_1_Min</name>
            <connector>
                <targetReference>Populate_RequestBody</targetReference>
            </connector>
            <label>Run After 1 Min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RequestBody</name>
        <apexClass>ExternalService__PostEcomProductExternalService_PostEcomProductCallout_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
