force-app/main/default/flows/Post_ToDo_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostToDoAction</name>
        <label>PostToDoAction</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <actionName>PostToDoExternalService.PostToDoCallout</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Callout_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RequestBody</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Populate_Request_Body</name>
        <label>Populate Request Body</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>RequestBody.completed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.todo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.userId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PostToDoAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Callout_Status</name>
        <label>Callout Status</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Populate_Integration_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Succeeded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PostToDoAction.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PostToDoAction.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_ToDo_ID</targetReference>
            </connector>
            <label>Succeeded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Post ToDo Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post ToDo Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_Integration_Status</name>
        <label>Populate Integration Status</label>
        <locationX>506</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <elementReference>PostToDoAction.defaultExc</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_ToDo_ID</name>
        <label>Populate ToDo ID</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>ToDo_Id__c</field>
            <value>
                <elementReference>PostToDoAction.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ToDo_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ToDo__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Post_ToDo_Record</name>
            <connector>
                <targetReference>Populate_Request_Body</targetReference>
            </connector>
            <label>Post ToDo Record After 1 Min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RequestBody</name>
        <apexClass>ExternalService__PostToDoExternalService_PostToDoCallout_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
