force-app/main/default/flows/Put_Employee_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PutEmployeeAction</name>
        <label>PutEmployeeAction</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>PutEmployeeExternalService.PutEmployeeCallout</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Populate_Integration_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>empId</name>
            <value>
                <elementReference>$Record.Employee_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RequestBody</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Populate_RequestBody</name>
        <label>Populate RequestBody</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>RequestBody.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.maidenName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Maiden_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.age</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Age__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PutEmployeeAction</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Put Employee Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Put Employee Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_Integration_Status</name>
        <label>Populate Integration Status</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <elementReference>PutEmployeeAction.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Age__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Gender__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Employee__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Run_After_1_Min</name>
            <connector>
                <targetReference>Populate_RequestBody</targetReference>
            </connector>
            <label>Run After 1 Min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RequestBody</name>
        <apexClass>ExternalService__PutEmployeeExternalService_PutEmployeeCallout_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
